@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #00c9bc;
}
.section-title-1 {
	font-size: 2rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title-1 span {
	color: #00c9bc;
	font-weight: bold;
}
.section-title-2 {
	font-size: 1.6rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: none;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title-2 span {
	color: #00c9bc;
	font-weight: bold;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #00c9bc;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {            /* hover color of Partfilio and DOWNLOAD RESUME button */
	color: white;
	background-color: #00c979;
	border: 2px solid #00c979;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #00c9bc;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #00c9bc;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/img-bg-elc.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #00c9bc;            /* Swip color of Hello, I am Hamed Seyar */
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/Edu.jpeg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
	font-weight: 1.6em;
}
/* End Services Section */

/* Experience Section */
#experience {
    text-align: center;
    margin: 10px 0;
	margin-left: 10px;
	margin-right: 40px;
	
}
.experience-title {
    font-size: 2em; /* Match size with About Me */
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center; /* Center the title */
}

.my-title {
    color: #00c9bc; /* Set color for MY */
	font-size: 6rem;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.experiences-title {
	font-size: 6rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}


.section-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.job-titles {
    display: flex;
    justify-content: center; /* Center job titles */
    gap: 1px; /* Space between columns */
    flex-wrap: wrap; /* Allow columns to wrap */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px; /* Allow flexibility in column width */

}

.column h3 {
    font-size: 2em;
    margin: 10px 0;
    color: #00c9bc;
}
.column h4 {
    font-size: 1.6em;
    margin: 5px 0;
    color: #666;
}

.column p {
    font-size: 1.4em;
    color: #444;
    margin: 5px 0;
	margin-left: 30px;
    max-width: 300px; /* Limit width for better readability */
    text-align: left; /* Center text */
	text-align: justify;
}
/* End experiance section */

/* Skills Section */
.skills {
    text-align: center;
    padding: 50px 0; /* Adjust padding as needed */
}

.skills-title {
    font-size: 28px; /* Title size for My Skills */
    margin-bottom: 20px;
    text-align: center;
}

.skills-title .my-text {
    color: black;
    text-transform: uppercase;
}

.skills-title .skills-text {
    color: #00c9bc;
    text-transform: uppercase;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-box {
    width: calc(30% - 20px); 
    position: relative; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    overflow: hidden; 
    background-image: url('./img/img-1.png'); 
    background-size: cover; 
    background-position: center; 
    font-size: 1.8rem; 
    color: white;
    margin-bottom: 10px;
    z-index: 2; 
	background-image: url(./img/Skill-Background.jpeg);
}

.skill-box .skill-list .skill-name {
	font-size: 1.6rem;
	font-weight: 1.6rem;
}

/* Add the overlay */
.skill-box::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/me-2.jpg'), linear-gradient(60deg, rgba(41, 50, 60, 0.7) 0%, rgba(72, 85, 99, 0.7) 100%); 
    background-size: cover, cover; 
    background-position: center, center; 
    z-index: 1; 
}

.language-container {
    display: flex;
    justify-content: space-between; 
    width: 80%; 
    margin: 0 auto; 
    text-align: left;
    font-size: 2rem;
    position: relative; 
    z-index: 2; 
}

.language-column, .level-column {
    width: 20%; /* Keeps the columns balanced */
}

.language-column p, .level-column p {
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 1.6rem;
	font-weight: 1.6rem;
    color: #ffffff; /* Solid white color for the text */
    z-index: 2; 
	
}

.skill-box::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/me-2.jpg'), linear-gradient(60deg, rgba(41, 50, 60, 0.7) 0%, rgba(72, 85, 99, 0.7) 100%);
    background-size: cover;
    background-position: center;
    z-index: 1; 
}


.skill-box h3 {
    z-index: 2; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    font-weight: 1.2rem;
    text-align: center;
    color: #ffffff;
    z-index: 3;
    position: relative;	
}

/* Second Skill */
.skill-list {
    margin-top: 20px;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
	margin-top: 29px;
}

.skill-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
	margin-top: 30px;
}


.skill-name {
    width: 40%;
    text-align: left;
    color: #ffffff;
    z-index: 3;
    position: relative;
}

.skill-bar {
    width: 60%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    z-index: 2;
}

.fill {
    height: 100%;
    width: 0%;
    background-color: #00c979;
    transition: width 1s ease-in-out;
    position: relative;
    z-index: 1;
}
/* End Second Skill */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
	text-align: justify;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}


/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
	text-align: justify;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #00c9bc;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

.project-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-slider {
  display: flex;
  width: calc(300%); /* Three images, adjust accordingly */
  animation: slide 20s linear infinite; /* Animation timing and effect */
}

.slider-img {
  width: 100%; /* Each image should take up full container width */
}

@keyframes slide {
  0% {
    transform: translateX(0); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move left by 100% */
  }
}


/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#footer a {
	color: #00c9bc;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #00c9bc;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
		/* Image Slider for larger screens */
	.project-img {
		width: 50%; /* Adjust for larger screens */
		overflow: hidden;
		position: relative;
	}

	.image-slider {
		display: flex;
		width: calc(300%); /* Adjust width for three images */
		animation: slide 10s linear infinite; /* Same sliding animation */
	}

	.slider-img {
		width: 100%; /* Each image takes full container width */
		height: 100%; /* Ensure the image fills the height */
		object-fit: cover; /* Maintain aspect ratio and cover container */
	}

	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #00c9bc;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	    /* Responsive Design */
    @media (max-width: 1200px) {
        .job-title {
            width: calc(50% - 20px); /* Two columns */
        }
		.skill-box {
			width: calc(100% - 20px); /* One column for skills */
		}

		.skills-container {
			flex-wrap: nowrap;
			padding: 0 50px;
		  }
		
		  .skill-box {
			width: 32%; /* Three boxes in a row */
		  }
    }

    @media (max-width: 768px) {
        .job-title {
            width: calc(100% - 20px); /* One column on smaller screens */
        }
		.skill-box {
			width: calc(100% - 20px); /* One column for skills */
		}

		.skills-container {
			flex-direction: column;
			align-items: center;
		  }
		
		  .skill-box {
			width: 100%; /* Full width for each box */
			margin-bottom: 20px; /* Add spacing between rows */
			padding: 0 50px;
		  }
    }
}

@media (min-width: 1200px) {
	.skills-container {
	  flex-wrap: nowrap;
	  padding: 0 50px; /* Increase padding for larger screens */
	}
  
	.skill-box {
	  width: 32%; /* Three boxes in a row */
	}
  }
  
  /* Media Query for screens 600px and below */
  @media (max-width: 768px) {
	.skills-container {
	  flex-direction: column;
	  align-items: center;
	  padding: 0 15px; /* Adjust padding for smaller screens */
	}
  
	.skill-box {
	  width: 100%; /* Full width for each box */
	  margin-bottom: 20px; /* Add spacing between rows */
	}

	.experience-title, .my-title, .experiences-title {
		font-size: 2rem; /* Set font size to 1.2rem for 600px or smaller */
	}

	.skills, .my-text, .my-title {
		font-size: 2rem; /* Set font size to 1.2rem for 600px or smaller */
	}

	.skills-title, .my-text, .skills-text {
		font-size: 2rem; /* Set font size to 1.2rem for 600px or smaller */
	}

    .column h3 {
        font-size: 1.4rem; /* Smaller font size for job titles */
    }
    .column p {
        font-size: 1.2rem; /* Smaller font size for descriptions */
    }
	.section-title-1 {
		font-size: 1.4rem;
	}
	.section-title-2 {
		font-size: 1.2rem;
	}	
}


